<p>
  doswiadczenie works!
</p>
<h2> Dodaj wykształcenie</h2>
<div>

  <div class="for">
    data zaczecia pracy:
    <input type="text" name="" value="" #dataStart>
    <br>
    data data zakonczenia:
    <input type="text" name="" value="" #dataKoniec>
    <br>

    opis stanowiska:
    <input type="text" name="" value="" #opis>

  </div>
  <div class="sub">
    <button type="button" name="button" (click)="wyslji(dataStart.value , dataKoniec.value, opis.value)" >wyslji</button>

  </div>


</div>
