<div class="container-fluid col-sm margin5">
  <div class="row">
    <h2 class="text-center"> Dodaj wykształcenie</h2>
</div>

<div class="row">
    <div class="col-sm-4">
      data zaczecia pracy:
    </div>
    <div class="col-sm-4">
      <input type="text" name="" value="" #dataStart>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
      data data zakonczenia:
    </div>
    <div class="col-sm-4">
      <input type="text" name="" value="" #dataKoniec>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
      opis stanowiska:
    </div>
    <div class="col-sm-4">
      <input type="text" name="" value="" #opis>
    </div>
</div>

<div class="row">
    <button type="button" name="button" class="btn btn-primary" (click)="wyslji(dataStart.value , dataKoniec.value, opis.value)" >wyslji</button>
</div>


</div>
