<p>
  certyfikaty works!
</p>
<h2>dodaja certyfikat</h2>
<div class="form">
  doaj numer certyfikatu:
  <input type="text" name="" value="" #nr>
  <br>
  podaj nazwe:
  <input type="text" name="" value="" #nazwa>
  <br>

  podaj miejsce uzyskania:
  <input type="text" name="" value="" #gdzie>
  <br>
  podaj date:
  <input type="text" name="" value="" #data>


</div>
<div class="sub">
  <button type="button" name="button" (click)="wyslji(nr.value , nazwa.value , gdzie.value , data.value)"> wyslji</button>

</div>
