<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid col-sm ">
  <h1 class="text-center">
    {{ title }}!
  </h1>
</div>


<nav class="navbar navbar-default">

  <ul class="nav navbar-nav">
    <div class="row">
      <div class="col">  <li><button class="btn btn-primary" type="button" (click)= "wybierzOpcie(0)">dane osobowe</button></li> </div>
      <div class="col">  <li><button class="btn btn-primary" type="button" (click)= "wybierzOpcie(1)">cel zawodowy</button></li> </div>
      <div class="col">  <li><button class="btn btn-primary" type="button" (click)= "wybierzOpcie(2)">Wyksztalcenie</button></li> </div>
      <div class="col">  <li><button class="btn btn-primary" type="button" (click)= "wybierzOpcie(3)">Dosjwiadczenie</button></li> </div>
      <div class="col">  <li><button class="btn btn-primary" type="button" (click)= "wybierzOpcie(4)"> Jezyki</button></li> </div>
      <div class="col">  <li><button class="btn btn-primary" type="button" (click)= "wybierzOpcie(5)">Certyfikaty</button></li> </div>
      <div class="col">  <li><button class="btn btn-primary" type="button" (click)= "wybierzOpcie(6)">Hoby</button></li> </div>
      <div class="col">  <li><button class="btn btn-primary" type="button" (click)= "wybierzOpcie(7)">Gotowe</button></li> </div>
  </div>
  </ul>

</nav>



<div class="container">
  <app-dane-osobowe *ngIf="menu[0]==true"></app-dane-osobowe>
  <app-cel-zawodowy *ngIf="menu[1]==true"></app-cel-zawodowy>
  <app-wyksztalcenie *ngIf="menu[2]==true"></app-wyksztalcenie>
  <app-doswiadczenie *ngIf="menu[3]==true"></app-doswiadczenie>
  <app-jezyki *ngIf="menu[4]==true"></app-jezyki>
  <app-certyfikaty *ngIf="menu[5]==true"></app-certyfikaty>
  <app-hobby *ngIf="menu[6]==true"></app-hobby>
  <app-gotowe *ngIf="menu[7]==true"></app-gotowe>
</div>
